<div>
  <div class="container">
    <div class="row">

      <div class="twelve columns">
        <a class="brand" href="/" title="Chuck Bergeron Wordmark">CHUCK BERGERON</a>

          <ul class="nav work-layout--nav">
            <li class="nav--list-item">
              <a class="nav--link" href="/" title="Learn more about me">About</a>
            </li>
            <li class="nav--list-item">
              <a class="nav--link" href="/work/index.html" title="See my work">Work</a>
            </li>
            <li class="nav--list-item">
              <a class="nav--link" href="/#contact" title="Contact me">Contact</a>
            </li>
          </ul>

      </div>

    </div>
  </div>
</div>
