<footer class="footer">
  <div class="container">
    <div class="six columns">
      <h5 class="large--text">
        Let's collab on a project or simply have a chat:
      </h5>
    </div>

    <div class="columns twelve">
      <!-- <a href="http://blog.chuckbergeron.io">Blog</a> -->
      <ul class="soc">
        <li><a class="soc-twitter" href="https://twitter.com/chuckbergeron"></a></li>
        <li><a class="soc-facebook" href="https://www.facebook.com/CharlesElleryAB"></a></li>
        <li><a class="soc-linkedin" href="https://www.linkedin.com/in/chuckbergeron"></a></li>
        <li><a class="soc-dribbble soc-icon-last" href="https://dribbble.com/ChuckBergeron"></a></li>
      </ul>

      <p class="copyright">
        &copy; 1984 - <span class="copyright-year"></span> <a href="http://chuckbergeron.io">Chuck Bergeron</a> ♖ <a href="mailto:chuck@chuckbergeron.io">chuck@chuckbergeron.io</a>
      </p>
    </div>
  </div>
</footer>
