<footer class="footer">
  <div class="container">
    <div class="columns twelve">
      <!-- <a href="http://blog.chuckbergeron.io">Blog</a> -->

      <ul class="soc">
        <li><a class="soc-twitter" href="https://twitter.com/chuckbergeron"></a></li>
        <li><a class="soc-facebook" href="https://www.facebook.com/CharlesElleryAB"></a></li>
        <li><a class="soc-linkedin soc-icon-last" href="https://www.linkedin.com/in/chuckbergeron"></a></li>
      </ul>

      <p class="copyright">
        &copy; <span class="copyright-year"></span> <a href="http://chuckbergeron.io">Chuck Bergeron</a> &mdash; <a href="mailto:chuck@chuckbergeron.io">chuck@chuckbergeron.io</a>
      </p>
    </div>
  </div>
</footer>
