---
layout: application
---

{% if page.hero %}
  <section class="work-layout--bg-photo" style="background-image: url({% asset_path {{ page.hero }} %})">
    <div class="noise hide-on-mobile"></div>
    <div class="container">
      <div class="row">

        <div class="twelve columns">
          <h1 class="page-title">
            {% if page.headline %}
              {{ page.headline }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
        </div>

      </div>
    </div>
  </section>

<section class="hide-on-desktop">
  {% asset {{\ page.hero\ }} alt='Project hero image' class='img-responsive' %}
</section>
{% endif %}

{% if page.hero %}
  <article>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <div class="row">
            <div class="four columns">
              {% if page.tags %}
                <h5>Responsibilities</h5>
                <ul class="list--basic">
                  {% for tag in page.tags %}
                    <li>{{ tag }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if page.project_link %}
                <span class="hide-on-mobile">
                  <br>
                  <a href="{{ page.project_link }}" class="button button-sm">View {{page.type}} <span class="fi-arrow-right"></span></a>
                </span>
              {% endif %}
              <hr class="hide-on-desktop">
            </div>

            <div class="eight columns work-layout--copy">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{% else %}
<article>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="row">
          <div class="twelve columns">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
{% endif %}

<section class="work-layout--cta">
  <div class="container">
    <div class="row">
      <div class="four columns">&nbsp;
      </div>
      <div class="eight columns">
        <h5>
          Want to hear more about what I make?
        </h5>

        <a href="/#contact" class="button button-primary">
          Drop me a line
        </a>
        <!-- <a href="/.html" class="button">
          Read my blog
        </a> -->
      </div>
    </div>
  </div>
</section>
