---
layout: application
---

<div>
  <div class="container">
    <div class="row">

      <div class="twelve columns">
        <a class="brand" href="/" title="Chuck Bergeron Wordmark">CHUCK BERGERON</a>

          <ul class="nav work-layout--nav">
            <li class="nav--list-item">
              <a class="nav--link" href="/" title="Learn more about me">About</a>
            </li>
            <li class="nav--list-item">
              <a class="nav--link" href="/work/index.html" title="See my work">Work</a>
            </li>
            <li class="nav--list-item">
              <a class="nav--link" href="/#contact" title="Contact me">Contact</a>
            </li>
          </ul>

      </div>

    </div>
  </div>
</div>

<section class="work-layout--bg-photo" style="background-image: url('{{ page.hero | asset_path }}')">
  <div class="noise"></div>
  <div class="container">
    <div class="row">

      <div class="twelve columns">
        <h1 class="page-title">
          {% if page.headline %}
            {{ page.headline }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
      </div>

    </div>
  </div>
</section>

<section class="hide-on-desktop">
  <img src="{{ page.hero | asset_path }}" class="img-responsive" alt="Project hero image">
</section>

<article>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="row">
          <div class="three columns">
            {% if page.tags %}
              <h5>Responsibilities</h5>
              <ul class="list--basic">
                {% for tag in page.tags %}
                  <li>{{ tag }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <br>
            {% if page.project_link %}
              <a href="{{ page.project_link }}" class="button button-sm">View Project <span class="fi-arrow-right"></span></a>
            {% endif %}
          </div>

          <div class="eight columns work-layout--copy">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<section class="work-layout--cta">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h5>
          Want to hear more about what I make?
        </h5>

        <a href="/#contact" class="button button-primary">
          Drop me a line
        </a>
        <!-- <a href="/.html" class="button">
          Read my blog
        </a> -->
      </div>
    </div>
  </div>
</section>
